{% macro render_forward(forward, description) %}
<div class="forward-button">
    <form action="{{ url_for('do_forward') }}" class="changeRoutingForm" method="POST">
        <input type="hidden" name="csrf" value="{{ session.csrf }}" />
        <input type="hidden" name="forward" value="{{ forward }}" />
        <button type="submit">{{ description }}</button>
    </form>
</div>
{% endmacro %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />

        <title>Call Forwarding Manager</title>
    </head>
    <body>
        {% with msgs = get_flashed_messages() %}
        {% if msgs %}
        <section id="alerts">
            {% for msg in msgs %}
            <div class="alert">
                {{ msg }}
            </div>
            {% endfor %}
        </section>
        {% endif %}
        {% endwith %}

        <section id="current">
            <p>Current phone routing: <strong>{{ current }}</strong></p>
        </section>

        <section id="buttons">
            {% for forward in forwards %}
            {% if current != forward.description %}
            {{ render_forward(forward.forwarding, forward.description) }}
            {% endif %}
            {% endfor %}
            {% if current != "Not forwarded" %}
            {{ render_forward("default", "Disable forwarding") }}
            {% endif %}
        </section>

        <hr />

        <section id="newForward">
            <details>
                <summary>Add new forwarding option</summary>
                <form method="POST" action="{{ url_for('do_add') }}">
                    <input type="hidden" name="csrf" value="{{ session.csrf }}" />
                    <label>
                        Destination number (10 digits)
                        <input type="text" name="destination" required pattern="^[0-9]{10}$" placeholder="2568240707" />
                    </label>
                    <label>
                        Forward description (as displayed on button)
                        <input type="text" name="description" required placeholder="Forward to someone" />
                    </label>
                    <button type="submit">Add new forwarding option</button>
                </form>
            </details>
        </section>

        <script type="text/javascript">
            let disableButtons = function() {
                for ( let el of document.getElementsByTagName('button') ) {
                    el.disabled = true;
                }
            };

            let showProgress = function() {
                document.getElementsByTagName('strong')[0].innerHTML = "...";
                disableButtons();
            };

            for ( let form of document.querySelectorAll('form.changeRoutingForm') ) {
                form.addEventListener('submit', showProgress);
            }

            for ( let form of document.querySelectorAll('form:not(.changeRoutingForm)') ) {
                form.addEventListener('submit', disableButtons);
            }
        </script>
    </body>
</html>
